<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="post" action="addPlanet">
            <input type="text" name ="name" placeholder="Name of Planet's">
            <button type="submit">Create of Planet</button>
        </form>
    </div>
    <div>List of Lords</div>
    <form method="post" action="filter">
        <input type="text" name = "filter">
        <button type="submit">Find</button>
    </form>
    {{#planets}}
    <div>
        <b>{{name}}</b>
        <p>{{lord}}</p>
    </div>
    {{/planets}}
</body>
</html>